$padding: 2rem;
$margin: 2rem;
$font-size: 2rem;
$uppercase: uppercase;
$negrito: bold;
$branco: white;
$preto: black;
$text-shadow-navbar: 0 0 3px #00a2ff, 0 0 5px #bef0ff;
$text-shadow-jumbotron: 0 0 3px #b9b9b9, 0 0 5px #ffffff;